<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light|Slabo+27px" rel="stylesheet" />
    <link rel="stylesheet" href="css/style.css" />
</head>
<body>
<div class="container bg-light ">


    <div class="my-5 "></div>

    <div class="my-4 py-5" align="center">

        <table>
            <tr class="text-dark">
                <th class="pr-3">Content</th>
                <th class="pr-3">Sent By</th>
                <th class="pr-3">Date</th>
            </tr>
            <tr>
                <td class="pr-4" th:text="${message.content}"></td>
                <td class="pr-3" th:text="${message.setBy}"></td>
                <td class="pr-3" th:text="${message.datePosted}"></td>

            </tr>
        </table>
        <br>

        <button class="btn btn-primary"><a class="text-white" href="/add">Add a Message</a></button>


        <!--//th:each="message : ${messages}"-->

    <!--<a href="/">Show All message</a><br />-->
    <!--Message Content: <span th:text="${message.content}"></span><br/>-->
    <!--Message Posted Date: <span th:text="${message.datePosted}"></span><br/>-->
    <!--Message Sender: <span th:text="${message.setBy}"></span><br/>-->
    <!--<br/>-->
    <!--<a href="/add">Send a your message</a>-->
    </div></div>


</body>
</html>